Django
djangorestframework
Markdown
gunicorn
kafka-python
djangorestframework-simplejwt
djangorestframework-simplejwt[crypto]
python-dotenv
boto3
django-storages
Pillow
psycopg2-binary
drf-spectacular
django-jsonform
django-prometheus
django-jalali-date
PyJWT
PyJWT[crypto]
django-redis
django-nested-admin
sentry-sdk
django-safedelete
django-cors-headers
django-cacheops
pycryptodome
requests
requests[socks]
